/*

症例写真アーカイブページスタイル

*/

.archive {
    .inner {
        @media (max-width: 767px) {
            width: 92%;
        }

        .post__list {
            border: 1px solid #ededed;
            color: $gray;
            margin-bottom: 1.8rem;
            padding: 45px;
            font-family: $gosic;

            @media (max-width: 767px) {
                padding: 4%;
            }

            .thumb {
                width: 210px;
                height: 240px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @media (max-width: 767px) {
                    width: 32%;
                    height: 32vw;

                    img {}
                }
            }

            .post__info {
                width: 630px;

                @media (max-width: 767px) {
                    width: 64%;
                    margin-left: 4.5%;
                }

                .top__info {
                    margin-bottom: 1.1rem;
                    align-items: center;

                    @media (max-width: 767px) {
                        flex-flow: column-reverse;
                        align-items: flex-start;
                        margin-bottom: .85rem;
                    }

                    .tax__content {}

                    .tax {
                        background-color: $new_rs;
                        color: #fff;
                        padding: 4px 8px;
                        font-size: .7rem;
                        display: inline-block;
                        margin-right: .25rem;
                        letter-spacing: 0;

                        @media (max-width: 767px) {
                            font-size: .6rem;
                            padding: 2px 4px;
                        }

                        &:nth-of-type(1) {
                            margin-left: 0;
                        }
                    }

                    .article-date {
                        font-size: .78rem;
                        color: #ccc;

                        @media (max-width: 767px) {
                            font-size: .64rem;
                            margin-bottom: .22rem;
                        }
                    }
                }

                h2 {
                    font-size: 1.6rem;
                    margin-bottom: 1.1rem;
                    font-weight: 600;

                    @media (max-width: 767px) {
                        font-size: 1.01rem;
                        margin-bottom: .58rem;
                        letter-spacing: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .comment {
                    height: 5.5em;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;

                    @media (max-width: 767px) {
                        height: 2.8rem;
                        -webkit-line-clamp: 3;
                    }

                    p {
                        font-size: .98rem;

                        @media (max-width: 767px) {
                            font-size: .7rem;
                            line-height: 1.25;
                        }
                    }
                }
            }
        }
    }
}

/*

ページャーデザイン

*/

.pagination {
    text-align: center;

    ul.page-numbers {
        display: inline-block;
        text-align: center;

        li {
            display: inline-block;
            padding: 10px 16px;
            color: $gray;
            background-color: $new_line;
            font-weight: 600;
            font-family: $gosic;

            a {
                color: $gray;
            }
        }
    }
}

/*

新しいアーカイヴスタイル

*/

.new_archive {
    .inner {
        width: 700px;

        @media (max-width: 767px) {
            width: 90%;
        }

        .new_archive_list {
            margin-bottom: 3.5rem;

            h2 {
                text-align: center;
                color: $gray;
                font-size: 1.4rem;
                background-color: $new_rs;
                margin-bottom: 2.5rem;
                padding: .5rem 0;
                font-family: $gosic;

                @media (max-width: 767px) {
                    padding: .62rem;
                    box-sizing: border-box;
                    letter-spacing: 0;
                    font-size: 1.15rem;
                }
            }
        }
    }
}

.blog-inner {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.blog-article {
    margin-bottom: 1.8rem;
    box-sizing: border-box;
    font-family: $gosic;
    border: 6px solid #f2f2f2;

    &__link {
        color: #686868;
        padding: 1.98rem 2.1rem;

        @media (max-width: 767px) {
            display: block;
            padding: 1.2rem 1.25rem;
        }
    }

    &__thumb {
        width: 330px;
        height: 270px;
        margin-right: 2.5rem;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        @media (max-width: 767px) {
            width: 100%;
            height: 46vw;
            margin-bottom: 1.58rem;
        }
    }

    &__right {
        width: 65%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__top {
        justify-content: space-between;
        margin-bottom: 1.1rem;
    }

    &__ttl {
        font-size: 1.4rem;
        margin-bottom: 1.22rem;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 1.2em;
    }

    &__category-wrap {
        font-size: 0;
    }

    &__category {
        font-size: .7rem;
        background-color: #faf0fa;
        border: 1px solid #f9e7f9;
        padding: .68rem .71rem;
        line-height: 1;
        margin-right: .55rem;
        margin-bottom: .55rem;
        display: inline-block;

        @media (max-width: 767px) {
            font-size: 0.6rem;
            padding: .4rem .5rem;
            margin-right: .4rem;
            margin-bottom: 0.4rem;
        }
    }

    &__excerpt {
        margin-bottom: 1.2rem;
        font-size: .9rem;
        letter-spacing: .0075em;
        line-height: 1.72;
    }

    &__btm-cont {}

    &__time {
        font-size: .6rem;
        line-height: 1;
        padding: .34rem 0;
        padding-left: 1.3rem;
        background: url(../img/common/icon_atchive_cal.svg) no-repeat 0% 48% / 12px auto;

        @media (max-width: 767px) {
            background-position-y: 48%;
        }
    }

    &__btn {
        display: inline-block;
        width: 140px;
        line-height: 1;

        //border: 1px solid #686868;
        text-align: center;
        font-size: .88rem;
        position: relative;

        &::before {
            border-color: #686868;
            width: 9px;
            height: 9px;
            right: 18px;
            top: 48%;

            @media (max-width: 767px) {
                top: 39%;
            }
        }
    }
}

/* タグリスト */

.tab-list {
    margin-top: 10px;

    @media (max-width: 767px) {
        margin-top: 1.1rem;
    }

    &--single {
        margin-top: 2.78rem;
        margin-bottom: 2.5rem;
    }

    &__item {
        display: inline-block;
        margin-right: .45rem;
        background-color: #ededed;
        border-radius: 3px;
        padding: .58rem .64rem;
        padding-left: 1.5rem;
        line-height: 1;
        font-size: .78rem;
        background: #f4f4f4 url(../img/common/tag.svg) no-repeat 8px 56% / 12px auto;

        @media (max-width: 767px) {
            background-size: 10px auto;
            background-position: 4px 50%;
            margin-bottom: .4rem;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &--single {
            background: #f4f4f4 url(../img/common/tag.svg) no-repeat 8px 48% / 12px auto;

            @media (max-width: 767px) {
                background-position: 4px 50%;
                background-size: 10px;
            }

            a {
                color: #686868;
            }
        }
    }
}
