.blog-head {
    margin-bottom: 1.78rem;
    position: relative;
    margin-top: 91px;
    height: 250px;
    margin-bottom: 5.25rem;

    @media (max-width: 767px) {
        margin-top: 71px;
        height: auto;
        height: 49vw;
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__content {
        width: 100%;
        height: 100%;
        position: relative;
        margin-bottom: 1.5rem;
        background: #fae8ff no-repeat 50% 50% / cover;
        opacity: 0.4;
    }

    &__text {
        font-size: 1.98rem;
        margin-bottom: 0 !important;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 1200px;
        width: 90%;
        text-align: center;
        font-weight: 800;
        letter-spacing: .1em;
        line-height: 1.24;

        @media (max-width: 767px) {
            font-size: 5.22vw;
            line-height: 1.3;
        }
    }

    &__time {
        font-size: .88rem;
        display: block;
        text-align: center;

        @media (max-width: 767px) {
            font-size: .7rem;
        }
    }
}

.blog-page {
    font-family: $gosic;

    &__inner {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media (max-width: 767px) {
            display: block;
        }
    }

    &__main {
        max-width: 830px;
        width: 90%;
        box-sizing: border-box;

        @media (max-width: 767px) {
            margin: 0 auto 1.5rem;
        }
    }

    &__sidebar {
        width: 340px;

        // width: 100%;
        box-sizing: border-box;
        padding: 0 1.98rem;

        @media (max-width: 767px) {
            width: 90%;
            margin: 0 auto;
            padding: 0;
        }
    }
}

/* サイドバーウィジェット内容 */
.widget {
    .menu {
        padding: 0;
    }

    h3 {
        padding: 1.1rem 1.4rem;
        margin-bottom: 1.2rem;
    }

    .screen-reader-text {
        display: none !important;
    }

    select {
        background: #fffefe url(../img/common/select_arw.png) no-repeat 97% 50% / 12px auto;
        border: 1px solid #dedede;
        border-radius: 3px;
        appearance: none;
        width: 100%;
        padding-left: 1.28rem;
        margin-top: 1.35rem;
        height: 43px;
    }

    .widget_categories, .widget_archive, .widget_recent_entries, .widget_nav_menu {
        h3 {
            margin-bottom: 0;
        }
    }

    li {
        margin-bottom: 2.5rem;

        a {
            padding: 1.1rem 1.4rem;
            padding-right: 2.8rem;
            display: block;
            color: #959595;
            position: relative;
            font-weight: 600;
            line-height: 1.19;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 10px;
                height: 7px;
                width: 7px;
                transform: translateY(-50%) rotate(-45deg);
                border-bottom: 1px solid #ededed;
                border-right: 1px solid #ededed;
                border-color: #dcdcdc;
            }
        }
    }

    li {
        ul {
            li {
                margin-bottom: 0;
                border-bottom: 1px solid #efefef;
                font-size: .88rem;
            }
        }
    }

    /* 子カテゴリー */

    .widget_categories {
        .children {
            li {
                border: none;

                a {
                    padding-left: 2.95rem;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 45%;
                        transform: translateY(-50%);
                        left: 10%;
                        width: .55rem;
                        height: .55rem;
                        border-bottom: 1px solid #dcdcdc;
                        border-left: 1px solid #dcdcdc;

                        @media (max-width: 767px) {
                            left: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    &__list {
        margin-bottom: 1.75rem;
        padding: 0 !important;
        border-bottom: 1px solid #e8e8e8;

        a {
            color: #454545;
        }

        & > ul {
            padding: 0;
        }
    }

    &__ttl {
        line-height: 1;
        margin-bottom: 0;
        font-size: 1.1rem;

        //background-color: #fff4eb;
        background-color: #eafdfb;
        border: 1px solid #cdf9f5;
        font-weight: 600;
    }

    /* タグクラウド */

    .tagcloud {
        font-size: 0;
        margin-top: 1.25rem;

        a {
            display: inline-block;
            margin: 0 .21rem .45rem;
            font-size: .8rem !important;
            padding: .37rem;
            padding-right: .55rem;
            padding-left: 1.5rem;
            border-radius: 5px;
            text-align: left;
            background: #f2f2f2 url(../img/common/tag.svg) no-repeat 6px 48% / 10px auto;

            &::after {
                display: none;
            }
        }
    }

    /* カレンダー */
    .calendar_wrap {
        #wp-calendar {
            width: 100%;
            border-collapse: collapse;
            box-sizing: border-box;

            caption {
                margin-bottom: .78rem;
                font-weight: 600;
                font-size: 1.15rem;
            }

            thead {
                tr {
                    th, td {
                        background-color: #e9c9f6;
                        color: #fff;
                        font-weight: 600;
                        font-size: .92rem;
                    }
                }
            }

            th, td {
                border: 1px solid #e8e8e8;
                text-align: center;
                font-size: .7rem;
                height: 37px;
                vertical-align: middle;

                @media (max-width: 767px) {
                    height: 10vw;
                }

                a {
                    text-align: center;
                    padding: 0;
                    height: 100%;
                    color: #ff9add;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff3fb;

                    &::after {
                        display: none;
                    }
                }
            }

            #today {
                font-weight: 600;
                color: #3399ff;
            }

            tfoot {
                display: none;
            }
        }
    }

    .wp-calendar-nav {
        margin-top: .92rem;

        span {
            a {
                padding: 0;
                font-size: .88rem;
                display: inline-block;

                &::after {
                    display: none;
                }
            }
        }
    }
}

/* ギャラリー */

.gallery-item {
    float: none !important;
    width: 100% !important;

    .gallery-icon {
        a {
            display: block;
        }
    }

    .attachment-thumbnail {
        width: 100% !important;
        box-sizing: border-box;
    }
}

/* 画像 */

.widget_media_image {
    h3 {
        margin-bottom: 1.2rem;
    }
}

/* テキストウィジェット */

.textwidget {
    p {
        font-size: .85rem;
        line-height: 1.47;
        color: #9a9a9a;
        padding: .78rem .56rem;
    }
}

/*

次の記事・前の記事へのリンク

*/

.single-page-nav {
    display: flex;
    justify-content: space-between;
    border: 6px solid #f6f1fc;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 767px) {
        display: block;

        // padding: 1.1rem 0;
    }

    &__link {
        font-size: .98rem;
        display: block;
        padding: 2.2rem 3.4rem 2.6rem;
        box-sizing: border-box;

        /* display: flex;
        align-items: center; */
        width: 50%;
        color: #686868;
        position: relative;

        @media (max-width: 767px) {
            width: 100%;
            padding: 1.6rem 2.4rem !important;
        }

        img {
            width: 95px;
            height: 95px;
            object-fit: cover;

            @media (max-width: 767px) {
                width: 82px;
                height: 82px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            height: 19px;
            width: 19px;
            border-bottom: 1px solid #b1b1b1;
            border-right: 1px solid #b1b1b1;

            @media (max-width: 767px) {
                width: 12px;
                height: 12px;
            }
        }

        &--prev-link {
            padding-right: .77rem;

            @media (max-width: 767px) {
                border-bottom: 1px solid #eaeaea;
            }

            &::after {
                left: 16px;
                transform: translateY(-50%) rotate(135deg);

                @media (max-width: 767px) {
                    left: 11px;
                }
            }

            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 78%;
                background-color: #efefef;

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }

        &--next-link {
            padding-left: .77rem;

            @media (max-width: 767px) {}

            &::after {
                right: 16px;
                transform: translateY(-50%) rotate(-45deg);

                @media (max-width: 767px) {
                    right: 11px;
                }
            }
        }
    }

    &__left {
        display: flex;
        flex: 1;

        &--next {
            justify-content: flex-end;

            @media (max-width: 767px) {
                justify-content: flex-start;
            }
        }
    }

    &__text-wrap {
        width: 64%;
    }

    &__text {
        margin-bottom: 0.78rem;
        font-weight: 600;
        font-size: 1.2rem;
        color: #e6aaff;
        line-height: 1;

        &--next {
            text-align: right;
        }

        @media (max-width: 767px) {
            font-size: 3.9vw;
        }
    }

    &__ttl {
        margin-bottom: 0;
        margin-left: .78rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 65px;
        width: 50%;
        font-size: .88rem;

        @media (max-width: 767px) {
            width: 72%;
            font-size: .9rem;
            height: 52px;
        }

        &--next {
            text-align: right;
        }
    }
}
