.doctor-intro {
    background-color: #f6eeee;

    .inner {
        padding: 60px 0 0;
        background: url("../img/doctor/doctor_img.png") no-repeat 100% 100% / 340px;

        .text {
            width: 57%;
            padding-bottom: 80px;

            h2 {
                width: 34%;
                margin-bottom: 35px;
                color: #7c7c7c;

                .sm {
                    font-size: .9rem;
                }
            }

            p {
                line-height: 1.8;
                margin-bottom: 35px;
                font-size: .97rem;
                color: #7c7c7c;
            }

            .blog {
                margin-bottom: 30px;

                a {
                    display: inline-block;
                    background-color: #c086ae;
                    padding: 4px 6px;
                    margin-right: 1.1rem;
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
                }

                .link-txt {
                    background: none;
                    color: #7c7c7c;
                }
            }
        }
    }
}

.doctor-carrer {
    div {
        width: 47%;

        h3 {
            background-color: #d7ccb0;
        }

        h3, ul li {
            padding: 14px 24px;
        }

        ul {
            li {
                font-size: 1.17rem;

                span {
                    display: inline-block;
                    padding-right: 1.1rem;
                }

                &:nth-of-type(even) {
                    background-color: #f4f4f4;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .doctor-intro {
        padding: 40px 0 30px;

        .inner {
            background: none;
            padding: 0;

            .text {
                width: 94%;
                margin: auto;
                padding-bottom: 0px;

                h2 {
                    width: 100%;
                    text-align: center;
                }

                .thumb {
                    width: 68%;
                    margin: 0 auto 35px;
                }

                p {
                    line-height: 1.84;
                    margin-bottom: 35px;
                }

                .blog {
                    margin-bottom: 30px;

                    a {
                        display: inline-block;
                        background-color: $cp;
                        padding: 2px 3px;
                        margin-right: 1.1rem;
                        font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
                    }
                }
            }
        }
    }

    .doctor-carrer {
        .inner {
            width: 94%;
            margin: auto;
            display: block;

            div {
                width: 100%;
                margin: auto;

                h3 {}

                h3, ul li {
                    padding: 14px 24px;
                }

                ul {
                    li {
                        font-size: 1.17rem;
                    }
                }
            }

            .left {
                margin-bottom: 35px;
            }
        }
    }
}
