/* ブログコンテンツないのスタイル */

.blog-page-content {
    letter-spacing: .0075em;
    line-height: 1.9;
    text-align: justify;
    font-size: 1rem;

    img {
        width: auto;
        max-width: 100%;
        margin-bottom: 1.2rem;
        display: block;
    }

    img.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }

    img.alignright {
        margin-left: auto;
    }

    a {
        color: #6685ff;
        font-weight: 600;
        font-size: 1.16rem;
        text-decoration: underline;
    }

    em {
        font-style: italic;
    }

    &__category-wrap {
        text-align: center;
        width: 92%;
        max-width: 1200px;
        margin: auto;
        margin-bottom: 2.25rem;

        @media (max-width: 767px) {
            width: 90%;
            margin: 0 auto 2.2rem;
        }
    }

    &__category {
        margin-bottom: .78rem;
        display: inline-block;
        font-size: 0;

        //text-align: left;
        text-align: center;

        @media (max-width: 767px) {
            text-align: center;
        }

        a {
            color: #686868;
            background-color: #faf0fa;
            border: 1px solid #f9e7f9;
            font-size: .88rem;
            line-height: 1;
            display: inline-block;
            padding: .45rem .72rem;
            margin-right: .42rem;
            text-align: center;
            margin-bottom: .42rem;

            &:last-of-type {
                margin-right: 0;
            }

            @media (max-width: 767px) {
                margin-right: .5rem;
                padding: .6rem .62rem;
            }
        }
    }

    h1 {
        font-size: 2.2rem;
        line-height: 1.34;
        margin-bottom: 1.25rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 13px;
            background-color: rgba($color: rgb(255, 240, 224), $alpha: 0.62);
            z-index: -1;
        }
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: 1.25rem;
        padding-bottom: .88rem;
        position: relative;
        letter-spacing: .05em;

        &::after {
            content: "";
            display: block;
            height: 4px;
            background: linear-gradient(to right, rgb(237, 230, 254), #fff 100%);
        }
    }

    /* 見出しマーク出力 */

    li {
        list-style-type: disc;
        list-style-position: inside;
    }

    ol {
        li {
            list-style-type: decimal;
        }
    }

    ul, ol {
        margin-bottom: 1.55rem;

        li {
            font-size: 1.08rem;
        }
    }

    /* 引用 */

    blockquote {
        background-color: #f8f8f8;
        padding: 1.89rem 1.65rem;
        padding-top: 2.8rem;
        border-left: 4px solid #ebdbc1;
        margin-bottom: 1.25rem;
        font-size: .88rem;
        line-height: 1.55;

        /* アップしたらちゃんとURL代えろ */
        background: #f8f8f8 url("https://fumibeauty.jp/wp/wp-content/uploads/2020/08/quote.png") no-repeat 29px 12px / 26px auto;

        @media (max-width: 767px) {
            background-position-x: 20px;
            background-size: 18px auto;
            padding-top: 3.2rem;
            line-height: 1.78;
        }
    }

    blockquote p {
        margin-bottom: 0 !important;
        font-size: .88rem;
        line-height: 1.55;

        @media (max-width: 767px) {
            line-height: 1.78;
        }
    }

    h3 {
        font-size: 1.48rem;
        border-bottom: 1px dashed #dadada;
        padding-bottom: .42rem;
        margin-bottom: 1.35rem;
    }

    h4 {
        font-size: 1.32rem;
        border-left: 4px solid #666;
        padding-left: 1.1rem;
        margin-bottom: 1.35rem;
    }

    p, .blog-text {
        font-size: 1rem;
        margin-bottom: 2.1rem;
        letter-spacing: 0.0075em;
    }

    strong {
        background-color: #ffeff9;
        padding: .22rem .11rem;
        font-weight: 600;
        color: #ff669e;
    }

    .blog-text-small {
        font-size: .78rem;
    }

    .blog-text-medium {
        font-size: 1.27rem;
    }

    .blog-text-center {
        text-align: center;
    }

    .blog-text-large {
        font-size: 1.5rem;
    }

    .blog-under-line {
        text-decoration: underline;
    }

    .blog-under-purple {
        text-decoration: underline;
        color: #d891f7;
    }

    .blog-under-pink {
        text-decoration: underline;
        color: #ff669e;
    }

    .blog-under-blue {
        text-decoration: underline;
        color: #52a0ff;
    }

    .blog-under-gold {
        text-decoration: underline;
        color: #9d8440;
    }

    .blog-c-purple {
        color: #d891f7;
    }

    .blog-c-pink {
        color: #ff669e;
    }

    .blog-c-blue {
        color: #3399ff;
    }

    .blog-c-gold {
        color: #9d8440;
    }

    .blog-img-center--small {
        width: 38%;
        margin: 0 auto 1.2rem;
    }

    .blog-img-center--medium {
        width: 54%;
        margin: 0 auto 1.2rem;
    }

    .blog-img-center--large {
        width: 82%;
        margin: 0 auto 1.2rem;
    }

    .blog-img-center--full {
        width: 100%;
        margin: 0 auto 1.2rem;
    }

    /* テーブル */

    table {
        width: 62%;
        margin: 0 auto 1.2rem;
    }

    table tr th, table tr td {
        padding: 1.2rem 0;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #cdf9f5 !important;
        font-size: 1.08rem;

        @media (max-width: 767px) {
            font-size: .88rem;
        }
    }

    table tr:first-of-type td, table tr:first-of-type th {
        background-color: #eafdfb;
        font-weight: 600;
    }

    .blog-text-box {
        box-sizing: border-box;
        padding: 1.5rem;
        background-color: #fafafa;
        border: 1px solid #ededed;
        margin-bottom: 1.78rem;
    }
}
