/*top Page*/

#bg1 {
    background-image: url("../img/top/bg01.jpg");
}

#bg2 {
    background-image: url("../img/top/bg02.png");
}

#bg3 {
    background-image: url("../img/top/bg03.jpg");
}

#bg4 {
    background-image: url("../img/top/bg4.jpg");
}

.banner-arwa {
    a {
        display: block;
    }
}

@media (max-width: 767px) {
    .banner-arwa {
        width: 100%;
        height: 120px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.card {
    .inner {
        .cont {
            width: 740px;
            margin: auto;
            background-color: #f8f8f8;
            padding: 35px;

            h2 {
                font-size: 1.8rem;
                margin-bottom: 20px;
            }

            p {
                color: #454545;
                margin-bottom: 32px;
            }

            .thumb {
                width: 74%;
                margin: auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .card {
        .inner {
            .cont {
                width: 96%;
                padding: 4.7%;

                h2 {
                    font-size: 1.4rem;
                }

                p {
                    color: #454545;
                    margin-bottom: 32px;
                }

                .thumb {
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }
}

.concept {
    height: 800px;
    position: relative;

    .concept-h2 {
        background: url("../img/top/bg_triangle01.png") no-repeat 0% 0% / 100% 100%;
        width: 560px;
        height: 260px;
        font-size: 2.2rem;
        display: flex;
        align-items: center;

        .inner-text {
            width: 200px;
            margin: 0 auto;
            padding-right: 60px;

            span {
                font-size: .8rem;
                display: block;
            }
        }
    }

    .adout-text {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 700px;
        height: 480px;
        background: url("../img/top/bg_triangle02.png") no-repeat 100% 100% / 100% 100%;
        display: flex;
        align-items: center;

        .inner-text {
            width: 70%;
            margin: 0 auto;
            padding-left: 80px;
        }
    }
}

@media (max-width: 767px) {
    .concept {
        height: 600px;
        position: relative;

        .concept-h2 {
            background: url("../img/top/bg_triangle01.png") no-repeat 0% 0% / 100% 100%;
            width: 290px;
            height: 160px;
            font-size: 2.2rem;
            display: flex;
            align-items: center;

            .inner-text {
                width: 200px;
                margin: 0 auto;
                padding-left: 2.45%;
                padding-right: 0px;

                span {
                    font-size: .8rem;
                    display: block;
                }
            }
        }

        .adout-text {
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            margin: auto;
            height: auto;
            padding: 30px 0;
            background: url("../img/top/bg_triangle02.png") no-repeat 65% 100% / 120% 100%;

            .inner-text {
                width: 70%;
                margin: 0 auto;
                padding-left: 0px;
            }
        }
    }
}

.infusion {
    padding-top: 60px;
    margin: 0 auto;

    h2 {
        width: 10%;
        font-size: 2.3rem;
        letter-spacing: 3px;
        display: inline-block;
    }

    .inner-box {
        position: relative;

        .top {
            position: relative;
            margin-bottom: 45px;

            .text {
                width: 43%;
                padding-left: 8%;

                p {
                    line-height: 1.7;
                    margin: 30px 0 20px;
                }
            }

            .thumb {
                width: 650px;
                margin-top: -60px;
                margin-right: 0px;
            }
        }

        .bottom {
            .box {
                width: 620px;
                height: 400px;
                background-repeat: no-repeat,no-repeat;
                background-position: 0% 0%,100% 0%;
                background-image: url("../img/top/bg_thumb1.jpg"), url("../img/top/bg_thumb2.jpg");
                background-size: 50%,50%;
                position: relative;
                bottom: 0px;
                left: 0px;

                .box-inner {
                    position: relative;
                    height: 100%;

                    .txt {
                        padding: 25px 18px 50px;
                        position: absolute;
                        width: 50%;
                        background-color: rgba(255, 255, 255, 0.78);

                        h3 {
                            margin-bottom: 10px;
                            text-align: center;
                            font-size: 1.4rem;
                        }

                        p {
                            font-size: .8rem;
                        }
                    }

                    .txt1 {
                        left: 0;
                        bottom: 0;
                    }

                    .txt2 {
                        right: 0;
                        top: 0;
                    }
                }
            }

            .text {
                float: right;
                padding-top: 50px;
                padding-right: 6%;
                width: 43%;

                p {
                    margin: 30px 0 20px;
                    line-height: 1.7;
                    margin-bottom: 35px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .infusion {
        padding-top: 60px;
        max-width: none;
        margin: 0 auto;
        display: block;

        h2 {
            text-align: center;
            font-size: 2.0rem;
            display: block;
            width: auto;
            margin-bottom: 35px;
        }

        h3 {
            font-size: 1.87rem;
        }

        .inner-box {
            width: 100%;
            max-width: none;
            min-width: 100%;
            position: relative;

            .top {
                position: relative;
                flex-flow: column;

                .text {
                    width: 80%;

                    @include box-center;

                    padding-left: 0;
                    padding-bottom: 45px;

                    p {
                        line-height: 1.7;
                        margin: 20px 0;
                    }
                }

                .thumb {
                    width: 100%;
                    margin: auto;
                }
            }

            .bottom {
                flex-flow: column-reverse;

                .box {
                    width: 100%;
                    margin: auto;
                    height: 400px;
                    background: none;
                    position: static;

                    .box-inner {
                        position: relative;
                        height: 100%;

                        .inner-lr {
                            width: 50%;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            background-size: cover;
                        }

                        .inner-left {
                            background-image: url("../img/top/thumb03.jpg");
                        }

                        .inner-right {
                            background-image: url("../img/top/thumb04.jpg");
                        }

                        .txt {
                            padding: 25px 18px 50px;
                            position: absolute;
                            width: 50%;

                            h3 {
                                margin-bottom: 10px;
                                text-align: center;
                                font-size: 1.4rem;
                            }

                            p {
                                font-size: .8rem;
                            }
                        }
                    }
                }

                .text {
                    float: none;
                    padding-top: 0;
                    padding-right: 0%;
                    width: 80%;

                    @include box-center;

                    padding-bottom: 45px;

                    p {
                        margin: 20px 0;
                        line-height: 1.7;
                        margin-bottom: 35px;
                    }
                }
            }
        }
    }
}

.menu {
    padding: 60px 0;

    h2 {
        margin-bottom: 30px;
    }

    .munu-link {
        max-width: 1380px;
        margin: auto;
        flex-wrap: wrap;
        display: flex;

        li.hg-row {
            height: 384px;
        }

        .box-size {
            width: 31.7%;
            margin-bottom: 5%;
            height: 420px;

            a {
                display: block;
                height: 100%;
                background-color: $bg-w;
                padding: 18px;

                h3 {
                    color: #454545;
                    font-size: 1.44rem;
                    margin-bottom: 0.8rem;

                    .sm {
                        display: inline;
                        vertical-align: middle;
                    }
                }

                .thumb {
                    margin-bottom: 20px;
                    height: 240px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                ul {
                    overflow: hidden;

                    li {
                        color: #454545;
                        float: left;
                        display: inline-block;
                        width: 50%;
                        font-size: .87rem;
                        font-family: $gosic;
                        margin-bottom: 8px;
                    }
                }

                ul.col {
                    li {
                        display: block;
                        width: 100%;
                        float: none;

                        .sm {
                            font-size: .5rem;
                            opacity: 1;
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .menu {
        margin-top: 0px;
        padding: 60px 0;

        h2 {
            margin-bottom: 30px;
        }

        .munu-link {
            max-width: none;
            width: 96%;
            flex-wrap: wrap;

            li.box-size {
                width: 49.2%;
                margin-bottom: 60px;
                height: 240px;

                a {
                    .thumb {
                        margin-bottom: 10px;
                        height: 90px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    h3 {
                        font-size: 1.1rem;

                        .sm {
                            font-size: .6rem;
                        }
                    }

                    ul {
                        overflow: hidden;

                        li {
                            float: left;
                            display: inline-block;
                            width: 100%;
                            font-size: .7rem;
                            font-family: $gosic;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
    }
}

.doctor {
    height: 540px;

    .inner {
        background: url("../img/top/doctor_thumb.png") no-repeat 11% 100% / 330px auto;
        position: relative;
        height: 100%;

        .text {
            float: right;
            width: 56.4%;
            padding-right: 5%;
            padding-top: 88px;

            h2 {
                margin-bottom: 15px;
            }

            .band {
                border: 1px solid $cp;
                padding: 5px 8px;
                width: 220px;
                margin: 0 auto 40px;
            }

            .cach {
                font-size: 1.9rem;
                margin-bottom: 40px;
            }

            .btn-wrap {
                text-align: center;

                .btn {
                    margin: 0px 13px 0;
                    display: inline-block;
                    width: 240px;
                    height: 68px;
                    line-height: 68px;
                }
            }
        }

        .doctor-name {
            position: absolute;
            bottom: 60px;
            left: 200px;
            font-size: 1.6rem;
            line-height: .78;
            background: url("../img/top/bg_doctor_name.png") no-repeat 50% 50% / 390px;
            padding: 20%;
            margin: -20%;

            .sm {
                font-size: .9rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .doctor {
        padding: 0;
        height: 740px;

        .inner {
            background-position: 50% 100%;
            background-size: 210px;
            height: 100%;
            position: relative;
            box-sizing: border-box;

            .text {
                width: 90%;
                margin: auto;
                padding-left: 0;
                padding-top: 45px;
                position: static;

                h2 {
                    margin-bottom: 15px;
                }

                .band {
                    border: 1px solid $cp;
                    padding: 5px 8px;
                    width: 180px;
                    margin: 0 auto 40px;
                }

                .cach {
                    font-size: 2.1rem;
                    margin-bottom: 38px;
                }

                .btn-wrap {
                    .btn {
                        margin: 0px 8px 0;
                        width: 127px;
                        height: 50px;
                        line-height: 50px;
                    }
                }
            }

            .doctor-name {
                position: absolute;
                left: 50%;
                right: auto;

                @include trx;

                bottom: 50px;
                font-size: 1.8rem;
                line-height: .78;
                background: url("../img/top/bg_doctor_name.png") no-repeat 50% 50% / 180px;
                padding: 0%;
                margin: 0%;

                .sm {
                    font-size: .9rem;
                }
            }
        }
    }
}

.cosmetics__bnr {
    .inner {
        margin-bottom: 70px;

        .bnr {
            width: 70%;
            margin: 40px auto;
        }
    }
}

@media (max-width: 767px) {
    .cosmetics__bnr {
        .inner {
            .bnr {
                width: 100%;
                margin: 1.0rem auto 2.2rem;
            }
        }
    }
}

.slides {
    margin-bottom: 140px;

    .inner {
        .slide-area {
            position: relative;
            padding: 0 4%;
            width: 40.5%;
        }

        .left-slide {
            .qas {
                border: 1px solid $cg;

                h3 {
                    background-color: $cg;
                    font-size: 1.2rem;
                }

                .qa-txt {
                    padding: 10px 8px;
                    font-size: .9rem;
                    max-height: 150px;
                    overflow: hidden;
                }

                span {
                    font-size: 1.6rem;
                    display: block;
                    font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
                }
            }
        }

        .right-slide {
            h3 {
                font-size: 1.18rem;
            }

            .slide-in {
                .box {
                    width: 45%;

                    .thumb {
                        width: 100%;
                        height: auto;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                    }

                    p {
                        margin-top: 10px;
                        color: #454545;
                        font-size: 1.2rem;
                    }

                    &:nth-of-type(1)::after {
                        right: -39px;
                        border-color: transparent transparent transparent $gray02;
                    }
                }
            }

            .risk {
                color: #454545;
                font-size: .9rem;
                margin-top: 11px;
                padding: 15px 17px;
                background-color: #fbfbfb;
            }

            /*---------
            ADD 記事一覧
            ----------------*/

            .slide-in {
                .posts {
                    color: #454545;
                    margin-bottom: .88rem;

                    @media (max-width: 767px) {
                        margin-bottom: 1.7rem;
                    }

                    .thumb {
                        width: 120px;
                        height: 120px;

                        @media (max-width: 767px) {
                            width: 25%;
                            height: 18vw;
                        }

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .text {
                        width: 74%;
                        font-family: $gosic;

                        @media (max-width: 767px) {
                            width: 68%;
                        }

                        .top__cont {
                            margin-bottom: .8rem;

                            @media (max-width: 767px) {
                                margin-bottom: .4rem;
                            }

                            .article-date, .tax {
                                display: inline-block;
                                vertical-align: middle;
                            }

                            .article-date {
                                font-size: .7rem;
                                color: #ccc;
                            }

                            .tax {
                                background-color: $new_ct;
                                padding: 4px 6px;
                                font-size: .7rem;
                                line-height: .8;
                                margin-right: .6rem;
                            }
                        }

                        h3 {
                            font-size: 1.02rem;
                            line-height: 1.32;
                            margin-bottom: 0.75rem;

                            @media (max-width: 767px) {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin-bottom: .3rem;
                            }
                        }

                        .content__text {
                            font-size: .75rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: #808080;
                            height: 1.28em;
                        }
                    }
                }

                .btn__cont {
                    margin-top: 1.8rem;
                    text-align: center;

                    a {
                        display: inline-block;
                        padding: 16px 44px;
                        border: 1px solid $gray;
                        color: $gray;
                        font-family: $gosic;
                        transition: ease-in .3s;

                        &:hover {
                            background-color: $gray;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .slides {
        margin-bottom: 70px;

        .inner {
            display: block;

            .slide-area {
                padding: 0 2%;
            }

            .left-slide {
                width: 75%;
                margin: 0 auto 80px;

                .qas {
                    border: 1px solid $cg;

                    h3 {
                        font-size: 1.2rem;
                    }

                    .qa-txt {
                        padding: 10px 8px;
                    }

                    span {
                        font-size: 1.6rem;
                        display: block;
                    }
                }
            }

            .right-slide {
                width: 88%;
                margin: 0 auto;

                .slide-in.case-box {
                    height: auto;

                    .box {
                        .thumb {
                            width: 100%;
                            height: auto;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        &:nth-of-type(1) {
                            margin-right: 35px;

                            &::after {
                                top: 39%;
                                right: -24px;
                                border-width: 8px 0 8px 12.3px;
                            }
                        }
                    }
                }

                .risk {
                    font-size: .8rem;
                }
            }
        }
    }
}

.sns {
    h3 {
        font-size: 1.1rem;
        margin-bottom: 1.22rem;
        color: #454545;
    }

    .inner {
        justify-content: center;
        margin-bottom: 1.2%;

        .bnr {
            width: 38%;
            margin: 0 1.2%;
        }
    }
}

@media (max-width: 767px) {
    .sns {
        margin-top: 60px;

        .inner {
            display: block;

            .bnr {
                width: 96%;
                margin: 0 auto 4%;
            }
        }
    }
}

.banner-campaign {
    h2 {
        margin-bottom: 25px;
    }

    .inner {
        justify-content: center;

        .bnr-cam {
            width: 33%;

            &:nth-of-type(2) {
                margin: 0 0.4%;
            }
        }
    }
}

@media (max-width: 767px) {
    .banner-campaign {
        h2 {
            margin-bottom: 25px;
        }

        .inner {
            display: block;

            .bnr-cam {
                width: 100%;
                margin-bottom: 0.5rem;

                &:nth-of-type(2) {
                    margin: 0 0 0.5rem;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.banner-campaign {
    h2 {
        margin-bottom: 25px;
    }

    .inner02 {
        justify-content: center;
        margin-bottom: 35px;

        .bnr-cam {
            width: 33%;

            &:nth-of-type(2) {
                margin: 0 0.4%;
            }
        }
    }
}

@media (max-width: 767px) {
    .banner-campaign {
        h2 {
            margin-bottom: 25px;
        }

        .inner02 {
            display: block;

            .bnr-cam {
                width: 100%;
                margin-bottom: 0.5rem;

                &:nth-of-type(2) {
                    margin: 0 0 0.5rem;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.map {
    .inner {
        width: 100%;
        height: 480px;
    }
}

@media (max-width: 767px) {
    .map {
        margin-top: 60px;

        .inner {
            height: 340px;
        }
    }
}
