@charset "UTF-8";
/* CSS Document */
/**************************************************************
【fontの設定】
**************************************************************/
.text70 {
  font-size: 70%
} /* フォントサイズ70% */
.text80 {
  font-size: 80%
}
.text90 {
  font-size: 90%
}
.text100 {
  font-size: 100%
}
.text110 {
  font-size: 110%
}
.text120 {
  font-size: 120%
}
.text130 {
  font-size: 130%
}
.text140 {
  font-size: 140%
}
.text150 {
  font-size: 150%
}
.text160 {
  font-size: 160%
}
.text170 {
  font-size: 170%
}
.text180 {
  font-size: 180%
}
.text190 {
  font-size: 190%
}
.text200 {
  font-size: 200%
}
.text210 {
  font-size: 210%
}
.text220 {
  font-size: 220%
}
.b {
  font-weight: 700
} /* 太字 */
.u {
  text-decoration: underline
} /* 下線 */
/**************************************************************
【colorの設定】
**************************************************************/
.red {
  color: red
} /* 赤色 */
.blue {
  color: #2ca9e1
} /* 青色 */
.green {
  color: #82ae46
} /* 緑色 */
.orange {
  color: #ff7d00
} /* 橙色 */
.yellow {
  color: #fff000
} /* 黄色 */
.pink {
  color: #ff0084
} /* ピンク */
.gray {
  color: #999
}
/**************************************************************
【background-colorの設定】
**************************************************************/
.bg-yellow {
  background: #ff0
} /* 黄色の文字背景 */
.bg-blue {
  background: #4ab0f5
} /* 青色の文字背景 */
.bg-red {
  background: red
} /* 赤色の文字背景 */
/****************************************************************
【align 配置の設定】
*****************************************************************/
.align1 {
  text-align: center !important
} /* 中央寄せ */
.align2 {
  text-align: right !important
} /* 右寄せ */
.align3 {
  text-align: left !important
} /* 左寄せ */
/****************************************************************
【float 回り込みの設定】
*****************************************************************/
.r-flo {
  float: right;
  margin: 10px
} /* 右に回り込み */
.l-flo {
  float: left;
  margin: 10px
} /* 左に回り込み */
.f-clear {
  clear: both
} /* 回り込みの解除 */
/****************************************************************
【マウスオーバー時の画像リンク 不透明度の設定】※初期設定は60%
*****************************************************************/
a img.linkimg {
  background: none !important
}
a:hover img.linkimg {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha( opacity=70 )";
  background: none !important;
}
/*************************************************************
【marginの設定】
*************************************************************/
.m0 {
  margin: 0 !important
} /* margin 0px を指定するクラス */
.mt0 {
  margin-top: 0 !important
} /* margin-top0px を指定するクラス */
.mr0 {
  margin-right: 0 !important
} /* margin-right0px を指定するクラス*/
.mb0 {
  margin-bottom: 0 !important
} /* margin-bottom0px を指定するクラス*/
.ml0 {
  margin-left: 0 !important
} /* margin-left0px を指定するクラス*/
.m5 {
  margin: 5px !important
}
.mt5 {
  margin-top: 5px !important
}
.mr5 {
  margin-right: 5px !important
}
.mb5 {
  margin-bottom: 5px !important
}
.ml5 {
  margin-left: 5px !important
}
.m10 {
  margin: 10px !important
}
.mt10 {
  margin-top: 10px !important
}
.mr10 {
  margin-right: 10px !important
}
.mb10 {
  margin-bottom: 10px !important
}
.ml10 {
  margin-left: 10px !important
}
.m15 {
  margin: 15px !important
}
.mt15 {
  margin-top: 15px !important
}
.mr15 {
  margin-right: 15px !important
}
.mb15 {
  margin-bottom: 15px !important
}
.ml15 {
  margin-left: 15px !important
}
.m20 {
  margin: 20px !important
}
.mt20 {
  margin-top: 20px !important
}
.mr20 {
  margin-right: 20px !important
}
.mb20 {
  margin-bottom: 20px !important
}
.ml20 {
  margin-left: 20px !important
}
.m25 {
  margin: 25px !important
}
.mt25 {
  margin-top: 25px !important
}
.mr25 {
  margin-right: 25px !important
}
.mb25 {
  margin-bottom: 25px !important
}
.ml25 {
  margin-left: 25px !important
}
.m30 {
  margin: 30px !important
}
.mt30 {
  margin-top: 30px !important
}
.mr30 {
  margin-right: 30px !important
}
.mb30 {
  margin-bottom: 30px !important
}
.ml30 {
  margin-left: 30px !important
}
.m35 {
  margin: 35px !important
}
.mt35 {
  margin-top: 35px !important
}
.mr35 {
  margin-right: 35px !important
}
.mb35 {
  margin-bottom: 35px !important
}
.ml35 {
  margin-left: 35px !important
}
.m40 {
  margin: 40px !important
}
.mt40 {
  margin-top: 40px !important
}
.mr40 {
  margin-right: 40px !important
}
.mb40 {
  margin-bottom: 40px !important
}
.ml40 {
  margin-left: 40px !important
}
.m45 {
  margin: 45px !important
}
.mt45 {
  margin-top: 45px !important
}
.mr45 {
  margin-right: 45px !important
}
.mb45 {
  margin-bottom: 45px !important
}
.ml45 {
  margin-left: 45px !important
}
.m50 {
  margin: 50px !important
}
.mt50 {
  margin-top: 50px !important
}
.mr50 {
  margin-right: 50px !important
}
.mb50 {
  margin-bottom: 50px !important
}
.ml50 {
  margin-left: 50px !important
}
.m55 {
  margin: 55px !important
}
.mt55 {
  margin-top: 55px !important
}
.mr55 {
  margin-right: 55px !important
}
.mb55 {
  margin-bottom: 55px !important
}
.ml55 {
  margin-left: 55px !important
}
.m60 {
  margin: 60px !important
}
.mt60 {
  margin-top: 60px !important
}
.mr60 {
  margin-right: 60px !important
}
.mb60 {
  margin-bottom: 60px !important
}
.ml60 {
  margin-left: 60px !important
}
.m65 {
  margin: 65px !important
}
.mt65 {
  margin-top: 65px !important
}
.mr65 {
  margin-right: 65px !important
}
.mb65 {
  margin-bottom: 65px !important
}
.ml65 {
  margin-left: 65px !important
}
.m70 {
  margin: 70px !important
}
.mr70 {
  margin-right: 70px !important
}
.mb70 {
  margin-bottom: 70px !important
}
.ml70 {
  margin-left: 70px !important
}
.m75 {
  margin: 75px !important
}
.mt75 {
  margin-top: 75px !important
}
.mr75 {
  margin-right: 75px !important
}
.mb75 {
  margin-bottom: 75px !important
}
.ml75 {
  margin-left: 75px !important
}
.m80 {
  margin: 80px !important
}
.mt80 {
  margin-top: 80px !important
}
.mr80 {
  margin-right: 80px !important
}
.mb80 {
  margin-bottom: 80px !important
}
.ml80 {
  margin-left: 80px !important
}
/**************************************************************
【paddingの設定】
**************************************************************/
.p0 {
  padding: 0 !important
} /* padding-0px を指定するクラス */
.pt0 {
  padding-top: 0 !important
} /* padding-top0px を指定するクラス */
.pr0 {
  padding-right: 0 !important
} /* padding-right0px を指定するクラス */
.pb0 {
  padding-bottom: 0 !important
} /* padding-bottom0px を指定するクラス */
.pl0 {
  padding-left: 0 !important
} /* padding-left0px を指定するクラス */
.p5 {
  padding: 5px !important
}
.pt5 {
  padding-top: 5px !important
}
.pr5 {
  padding-right: 5px !important
}
.pb5 {
  padding-bottom: 5px !important
}
.pl5 {
  padding-left: 5px !important
}
.p10 {
  padding: 10px !important
}
.pt10 {
  padding-top: 10px !important
}
.pr10 {
  padding-right: 10px !important
}
.pb10 {
  padding-bottom: 10px !important
}
.pl10 {
  padding-left: 10px !important
}