/*TOP Footer */

footer {
    margin-bottom: 60px;

    .inner {
        .navi {
            width: 70%;
            min-width: 400px;

            ul {
                justify-content: flex-start;

                li {
                    margin: 0;
                    margin-right: 3%;

                    a {
                        font-size: .9rem;
                        color: $gray;
                    }
                }
            }
        }

        .copy {
            font-size: .7rem;
            width: 520px;
            color: $gray;
        }
    }
}

@media (max-width: 767px) {
    footer {
        padding-bottom: 60px;

        .inner {
            display: block;

            .copy {
                font-size: .6rem;
                min-width: auto;
                text-align: center;
                width: auto;
                text-align: center;
            }
        }
    }

    /*ハンバーガー設定*/

    .hambargar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100%;

        // height: calc(100vh - 63px);
        //background-color: $cp;
        background-color: $new_rs;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease-in;
        transform: translate(0, 100%);
        z-index: 9999;

        ul {
            width: 88%;
            padding-top: 3vh;
            margin: auto;
            font-family: $gosic;

            li {
                margin-bottom: 3.4vh;
                letter-spacing: 1px;

                a {
                    display: block;

                    //color: #fff;
                    color: $gray;
                    text-align: center;
                    font-size: 3.14vw;
                }
            }

            li.menu-logo {
                width: 28%;
                margin: 0 auto 4vh;
            }

            li.parent {
                a {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        width: 12px;
                        height: 12px;

                        //border-top: 1px solid #fff;
                        //border-right: 1px solid #fff;
                        border-top: 1px solid $gray;
                        border-right: 1px solid $gray;
                        transform: translateY(-50%) rotate(135deg);
                        transition: .3s ease-in-out;
                    }
                }

                a.ac-open {
                    &::after {
                        transform: rotate(-45deg);
                    }
                }

                ul.child {
                    display: none;
                    padding-top: 2.5vh;
                    text-align: center;

                    li {
                        display: inline-block;
                        width: 48%;

                        a {
                            display: block;

                            &::after {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .open.hambargar {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
    }

    /* SP ONLY 固定フッター */
    .fix-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        //background-color: $cp;
        background-color: $new_rs;
        z-index: 9999;

        ul {
            padding: 20px 0;

            li {
                width: 33.33333333%;
                text-align: center;

                a, span {
                    padding-left: 22%;
                    font-size: 1.1rem;
                    background: no-repeat 0% 50%/ 13px;
                    color: $gray;
                }

                span {
                    //background-image: url("../img/common/icon_bottom01.png");
                    background-image: url("../img/common/icon_bottom01_re.png");
                }

                &:nth-of-type(2) {
                    //border-left: 1px solid #fff;
                    //border-right: 1px solid #fff;
                    border-left: 1px solid $gray;
                    border-right: 1px solid $gray;

                    a {
                        //background-image: url("../img/common/icon_bottom02.png");
                        background-image: url("../img/common/icon_bottom02_re.png");
                    }
                }

                &:nth-of-type(3) {
                    a {
                        //background-image: url("../img/common/icon_bottom03.png");
                        background-image: url("../img/common/icon_bottom03_re.png");
                    }
                }
            }
        }
    }

    .fix-bottom.open {
        ul {
            li {
                span {
                    //background-image: url("../img/common/icon_close.svg");
                    background-image: url("../img/common/icon_close_re.svg");
                }
            }
        }
    }
}

/* PAGES FOOTER*/

footer.pages {
    border-top: 1px solid #dddddd;

    .pages-footer-box {
        width: 576px;
        margin: 50px auto 60px;

        .f-logo {
            width: 180px;
        }

        .left {
            font-size: .72rem;

            .logo-info {
                margin-bottom: 13px;

                span {
                    background-color: $cg;
                    padding: 2px;
                    margin-left: 8px;
                }
            }

            .tel {
                display: block;
            }
        }
    }

    .copy {
        width: 510px;
    }
}

@media (max-width: 767px) {
    footer.pages {
        .pages-footer-box {
            width: 94%;
            margin: 50px auto 60px;
            display: block;

            .f-logo {
                width: 120px;
                margin: 0 auto 30px;
            }

            .left {
                text-align: center;

                .tel {
                    display: block;
                }
            }
        }

        .copy {
            width: auto;
            text-align: center;
        }
    }
}

footer.pages.list-footer {
    margin-bottom: 20px;

    .copy {
        margin: auto;
    }
}

@media (max-width: 767px) {
    footer.pages.list-footer {
        padding-bottom: 0;
    }
}
