/* reset & set
-------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    border: 0;
    outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a img:hover, a:hover {
    opacity: 0.8;
}

li img {
    display: block;
}

a img {
    border-style: none;
}

img {
    vertical-align: bottom;

    @include img-fit;
}

//フォームリセット

input,
label,
select,
button,
submit,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    font: inherit;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    background: none;

    &::-webkit-search-decoration {
        display: none;
    }

    &::focus {
        outline-offset: -2px;
    }
}

select {
    border: none;
    outline: none;
    background: transparent;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
    outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
    -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
    display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
    overflow: auto;
}

/*クリアフィックス*/
.cf:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.sp {
    display: none;
}

.sp-dis {
    display: none !important;
}

h2, h3, h4 {
    font-weight: 300;
}

/*トップコンテンツ見出し*/

h2 {
    font-size: 2.4rem;
    letter-spacing: 3px;
}

h3 {
    font-size: 1.8rem;
    letter-spacing: 2px;
}

@media (max-width: 767px) {
    h2 {
        font-size: 2.0rem;
    }

    h3 {
        font-size: 1.4rem;
    }
}

html {
    font-size: 100%; /*18px*/
}

body {
    line-height: 1.5;
    color: $cg;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}

.wrapper {
    position: relative;
    width: 100%;

    //min-width: 1100px;
}

section {
    width: 100%;
    margin-bottom: 60px;
}

/*矢印　くの字*/

.arrow::before {
    content: "";
    position: absolute;
    right: 25px;
    top: 50%;
    width: 15px;
    height: 15px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
}

.btn {
    position: relative;
    display: inline-block;
    background-color: $cp;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 240px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";

    &:hover {
        opacity: .8;
    }
}

@media (max-width: 767px) {
    .btn {
        height: 60px;
        line-height: 60px;
        text-align: center;
        width: 180px;
        font-size: 14px;
    }
}

/*CV-BTNS*/

.cv-btns {
    display: inline-block;
    width: 46%;
    padding: 23px 0;
    color: #fff;
    text-align: center;

    .sm {
        text-align: left;
        display: inline-block;
    }
}

.cv-btns.bg-rs .bg-icon, .cv-btns.bg-ct .bg-icon {
    background: no-repeat 15% 50%/ 13%;
    display: block;
    letter-spacing: 1px;
    font-size: 1.4rem;
    text-align: left;
    padding-left: 34%;
}

.cv-btns.bg-rs {
    background-color: $cg;

    .bg-icon {
        background-image: url("../img/common/icon_cal.png");
    }
}

.cv-btns.bg-ct {
    background-color: $cp;

    .bg-icon {
        background-image: url("../img/common/icon_mail.png");
    }
}

.cv-btns.bg-line {
    background-color: #59D037;

    .bg-icon {
        background-image: url("../img/common/icon_line.png");
    }
}

.sm {
    font-size: .6rem;
    letter-spacing: 1px;
    display: block;
    opacity: .8;
}

/*HEADER  CV-BTNS*/

.top-cv-btn {
    font-size: 0;

    .cv-btns {
        text-align: center;
        width: 100px;
        padding: 50px 0 20px;
        display: inline-block;

        span {
            font-size: .9rem;
            padding-top: 37px;
            line-height: 1.4;
            background: no-repeat 50% 0%/ 24px;
            color: #fff;
        }
    }

    .bg-rs {
        span {
            background-image: url("../img/common/icon_cal.png");
        }
    }

    .bg-ct {
        span {
            padding-top: 34px;
            background-image: url("../img/common/icon_mail.png");
        }
    }

    .bg-line {
        span {
            background-image: url("../img/common/icon_line.png") !important;
            background-position: 11% 1% !important;
            font-size: .7rem;
        }
    }
}

@media (max-width: 767px) {
    .top-cv-btn {
        font-size: 0;

        .cv-btns {
            text-align: center;
            width: 66px;
            height: 66px;
            padding: 0;
            display: inline-block;
            box-sizing: border-box;

            span {
                font-size: .8rem;
                background: no-repeat 50% 0%/ 16px;
                color: #fff;
                display: inline-block;
            }
        }

        .bg-rs {
            span {
                background-image: url("../img/common/icon_cal.png");
                padding-top: 21px;
                margin-top: 13px;
            }
        }

        .bg-ct {
            span {
                padding-top: 19px;
                margin-top: 15px;
                background-image: url("../img/common/icon_mail.png");
            }
        }

        .bg-line {
            span {
                background-position: 50% 1% !important;
                padding-top: 21px;
                margin-top: 9px;
                font-size: .8rem;
                line-height: 1.3;
            }
        }
    }
}

/*下層ページ基本カラー*/

body.page {
    color: #454545;
}

/*パンくずリスト*/

.path {
    text-align: center;
    margin-bottom: 90px;

    li {
        display: inline-block;
        margin: 0 0.5%;

        a {
            font-size: .78rem;
            color: $cg;
            font-family: $gosic;
        }

        &:nth-of-type(1) a {
            color: #686868;
        }
    }
}

/*下層ページ　トップ*/

.page-head {
    padding-top: 130px;

    h1 {
        margin: 0 auto 15px;
    }
}

/* 美肌治療 トップ */

.page-head {
    h1 {
        @media (max-width: 767px) {
            font-size: 1.32rem;
        }
    }
}

/* GNAVI*/

.navi {
    ul {
        li {
            margin: 0 2.85%;

            a {
                color: $cp;
            }
        }
    }
}

/*MUNU LIST 基本スタイル*/

.menu-link {
    li {
        a {
            background-color: $bg-w;
            display: block;
            padding: 22px;

            img {
                margin-bottom: 10px;
            }

            p {
                font-size: 1.2rem;

                span {
                    font-size: .9rem;
                }
            }
        }
    }
}

/*TEL */

.tel {
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 1.0;

    a {
        background: url("../img/common/icon_free.svg") no-repeat 2% 50% / 36px;
        padding-left: 48px;
    }
}

@media (max-width: 767px) {
    .tel {
        a {
            padding-left: 20px;
        }
    }
}

/*三角形*/

.triangle {
    position: absolute;
    top: 1px;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 23px 15px;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}

/*サムネイル*/

/*円型サムネイル*/

.thumb-sq {
    overflow: hidden;
    border-radius: 50%;
    width: 360px;
    height: 360px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .thumb-sq {
        height: 280px;
        width: 280px;
    }
}

.tl {
    text-align: left !important;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.trx {
    transform: translateX(-50%);
}

.try {
    transform: translateY(-50%);
}

.ls1 {
    letter-spacing: 1px;
}

.ls2 {
    letter-spacing: 2px;
}

.fw600 {
    font-weight: 600;
}

@media (min-width: 768px) {
    .inner-box {
        width: 93%;
        max-width: 1400px;
        min-width: 1000px;

        @include box-center;
    }

    .inner {
        max-width: 1360px;
        margin: auto;
    }

    .inner02 {
        max-width: 1360px;
        margin: auto;
    }

    .page .inner {
        width: 1200px;
        margin: auto;
    }

    .inner-box2 {
        width: 1000px;
        margin: auto;
    }
}

@media (max-width: 767px) {
    .inner-box, .inner-box2 {
        width: 96%;

        @include box-center;
    }

    .inner {
        width: 96%;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .rl {
        writing-mode: vertical-rl;
    }
}

.f-ryu {
    font-family: a-otf-ryumin-pr6n, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.1rem;
    letter-spacing: 2px;
}

.f-bold {
    font-weight: 600;
}

.bg-cp {
    background-color: $bg-cp;
    padding: 50px 0;
}

.bg-grade {
    background: rgb(2, 0, 36);
    background: linear-gradient(143deg, rgba(2, 0, 36, 1) 0%, rgba(249, 244, 244, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.bg__n_rs {
    background-color: $new_rs !important;
}

.bg__n_ct {
    background-color: $new_ct !important;
}

.bg__n_line {
    background-color: $new_line;
}

.bg__sub__menu {
    background-color: #E2D2E9 !important;
}

.bg__cp02 {
    background-color: $cp;
}

.bg__gray {
    background-color: $gray !important;
}

.bc__gray {
    border-color: $gray !important;
}

.c_gray {
    color: $gray !important;
}

.c_gray_line {
    &::after {
        border-color: $gray !important;
    }
}

.c_gray_line02 {
    border-color: $gray !important;
}

.c_gray_impo {
    color: $gray !important;
}

.cp {
    color: $cp;
}

.cw {
    color: #fff;
}

.bg-p {
    background-color: #fff7f4;
}

.gd {
    color: $cg;
}

.gd-i {
    color: $cg !important;
}

.bg-cg {
    background-color: $cg !important;
}

.bg-g {
    background-color: #f4f2eb !important;
}

.bg-g2 {
    background-color: #FEFCF6 !important;
}

.bg-gth {
    background-color: $cg !important;
}

.gosic {
    font-family: $gosic;
}

.min {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}

.jc-cent {
    justify-content: center !important;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.fw {
    flex-wrap: wrap;
}

.ff-row-reverse {
    flex-flow: row-reverse;
}

.box-size {
    box-sizing: border-box;
}

.vt {
    vertical-align: top !important;
}

.al-cent {
    align-items: center !important;
}

.al-top {
    align-items: flex-start !important;
}

.al-bottom {
    align-items: flex-end !important;
}

.ju-st {
    justify-content: flex-start !important;
}

.p40 {
    padding: 40px 0 !important;
}

.db {
    display: block !important;
    width: 100% !important;
}

/*swiper*/

@media (max-width: 767px) {
    .swiper-wrapper.sp-bnr {
        height: 100%;
    }
}

.swiper-wrapper {
    height: auto;
}

.swiper-button-prev {
    background: url("../img/common/arrow_02_re.svg?1455") no-repeat 50% 50% / 20px;
}

.swiper-button-next {
    background: url("../img/common/arrow_01_re.svg?015852") no-repeat 50% 50% / 20px;
}

.area-bgs {
    background: no-repeat 50% 50%/cover;
}

.in-view {
    opacity: 0;
    transform: translate(0, 60px);
    transition: ease 1.5s;
}

.fade-in {
    opacity: 1.0;
    transform: translate(0, 0);
}

/*qa 症例*/

.slide-p2 {
    position: static;
}

.slide-p2 .swiper-slide {
    height: 390px;
}

.prev2, .next2 {
    top: 50%;
}

.prev2 {
    left: 0px;
}

.next2 {
    right: 0px;
}

.swiper-container-horizontal .swiper-pagination {
    bottom: 50px;
}

.swiper-pagination-bullet {
    border-radius: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    //background-color: $cp;
    background-color: $gray02;
}

@media (max-width: 767px) {
    .swiper-button-prev, .swiper-button-next {
        background-size: 16px;
    }

    .slide-p2 .swiper-slide {
        height: 63vw;
    }

    .swiper3 .swiper-slide {
        height: auto;
    }

    .prev2, .next2 {
        top: 58%;
    }

    .prev2 {
        left: -35px;
    }

    .next2 {
        right: -35px;
    }

    .swiper3 .prev2, .swiper3 .next2 {
        top: 63%;
    }

    .swiper3 .prev2 {
        left: -20px;
    }

    .swiper3 .next2 {
        right: -20px;
    }

    .swiper-container-horizontal .swiper-pagination {
        bottom: -30px;
    }

    .swiper3.swiper-container-horizontal .swiper-pagination {
        bottom: -20px;
    }
}

/*施術の感想スライド設定*/

.kuchikomi-slide {
    position: relative;
}

.slide-p2.swiper4 .swiper-slide {
    height: 388px;
}

.swiper4 .prev2, .swiper4 .next2 {
    top: 50%;
}

.swiper4 .prev2 {
    left: -65px;
}

.swiper4 .next2 {
    right: -65px;
}

@media (min-width: 768px) {
    .swiper4 .swiper-pagination {
        display: none;
    }
}

@media (max-width: 767px) {
    .swiper4 .prev2, .swiper4 .next2 {
        display: none !important;
    }
}

/*PAGE TOP SCROll*/

.page-top {
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 12px;
    z-index: 9000;
    display: none;
}

.bounce {
    animation: bounce linear 1.6s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes bounce {
    0% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(0px, -25px);
    }

    30% {
        transform: translate(0px, 0px);
    }

    45% {
        transform: translate(0px, -15px);
    }

    60% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(0px, -5px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@media (max-width: 767px) {
    .page-top {
        bottom: 12%;
        right: 3.75%;
        width: 7px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        position: relative;
        width: 100%;
    }

    html {
        font-size: 80%;
    }

    .pc {
        display: none;
    }

    .pc-dis {
        display: none !important;
    }

    .sp {
        display: block;
    }

    .sp-dis {
        display: block !important;
    }

    section {
        margin-bottom: 30px;
    }
}

/*

アーカイブページスタイル

*/

.archive {
    .inner {
        @media (max-width: 767px) {
            width: 92%;
        }

        .post__list {
            border: 1px solid #ededed;
            color: $gray;
            margin-bottom: 1.8rem;
            padding: 45px;
            font-family: $gosic;

            @media (max-width: 767px) {
                padding: 4%;
            }

            .thumb {
                width: 210px;
                height: 240px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @media (max-width: 767px) {
                    width: 32%;
                    height: 32vw;

                    img {}
                }
            }

            .post__info {
                width: 630px;

                @media (max-width: 767px) {
                    width: 64%;
                    margin-left: 4.5%;
                }

                .top__info {
                    margin-bottom: 1.1rem;
                    align-items: center;

                    @media (max-width: 767px) {
                        flex-flow: column-reverse;
                        align-items: flex-start;
                        margin-bottom: .85rem;
                    }

                    .tax__content {}

                    .tax {
                        background-color: $new_rs;
                        color: #fff;
                        padding: 4px 8px;
                        font-size: .7rem;
                        display: inline-block;
                        margin-right: .25rem;
                        letter-spacing: 0;

                        @media (max-width: 767px) {
                            font-size: .6rem;
                            padding: 2px 4px;
                        }

                        &:nth-of-type(1) {
                            margin-left: 0;
                        }
                    }

                    .article-date {
                        font-size: .78rem;
                        color: #ccc;

                        @media (max-width: 767px) {
                            font-size: .64rem;
                            margin-bottom: .22rem;
                        }
                    }
                }

                h2 {
                    font-size: 1.6rem;
                    margin-bottom: 1.1rem;
                    font-weight: 600;

                    @media (max-width: 767px) {
                        font-size: 1.01rem;
                        margin-bottom: .58rem;
                        letter-spacing: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .comment {
                    height: 5.5em;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;

                    @media (max-width: 767px) {
                        height: 2.8rem;
                        -webkit-line-clamp: 3;
                    }

                    p {
                        font-size: .98rem;

                        @media (max-width: 767px) {
                            font-size: .7rem;
                            line-height: 1.25;
                        }
                    }
                }
            }
        }
    }
}

/*

ページャーデザイン

*/

.pagination {
    text-align: center;

    ul.page-numbers {
        display: inline-block;
        text-align: center;

        li {
            display: inline-block;
            padding: 10px 16px;
            color: $gray;
            background-color: $new_line;
            font-weight: 600;
            font-family: $gosic;

            a {
                color: $gray;
            }
        }
    }
}

/*

新しいアーカイヴスタイル

*/

.new_archive {
    .inner {
        width: 700px;

        @media (max-width: 767px) {
            width: 90%;
        }

        .new_archive_list {
            margin-bottom: 3.5rem;

            h2 {
                text-align: center;
                color: $gray;
                font-size: 1.4rem;
                background-color: $new_rs;
                margin-bottom: 2.5rem;
                padding: .5rem 0;
                font-family: $gosic;

                @media (max-width: 767px) {
                    padding: .62rem;
                    box-sizing: border-box;
                    letter-spacing: 0;
                    font-size: 1.15rem;
                }
            }
        }
    }
}

/* お悩み選択セレクトボックス */

.select__content {
    background-color: rgb(249, 241, 234);
    padding: 1.5rem;
    margin-bottom: 2.8rem;

    h2 {
        font-size: 1.1rem;
        margin-bottom: .88rem;
    }

    #tax__change {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        background: transparent;
        border: 1px solid #bbb;
        width: 80%;
        margin: auto;
        display: block;
        height: 58px;
        box-sizing: border-box;
        font-size: 1.18rem;
        padding: 1.1rem;
        line-height: 1.0;
        font-family: $gosic;
        background: #f5f5f5 url(../img/common/select_arw.png) no-repeat 97% 50% / 15px auto;

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.photo__area {
    margin-bottom: 2.5rem;

    .case-box {
        position: relative;
        margin-bottom: 2.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        .case__photo {
            margin-bottom: 62px;

            @media (min-width: 768px) {
                width: 700px;
                margin: 0 auto 62px;
            }

            .thumb {
                width: 100%;
                margin-bottom: 18px;
            }

            .text {
                width: 100%;
                font-size: 0;

                p {
                    display: inline-block;
                    width: 50%;
                    text-align: center;
                    font-family: $gosic;
                    font-size: 1.1rem;
                }
            }
        }

        .ba-box {
            .box {
                width: 44%;

                .thumb {
                    margin-bottom: .8rem;

                    img {}
                }

                p {
                    font-size: 1.2rem;
                }
            }

            .arw {
                position: absolute;
                border-style: solid;
                border-width: 12px 0 12px 19.3px;
                border-color: transparent transparent transparent #777777;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                @media (max-width: 767px) {
                    border-width: 10px 0 10px 15.3px;
                    top: 42%;
                }
            }
        }
    }
}

.text__box {
    margin-bottom: 2.5rem;
    background-color: #fbfbfb;
    padding: 20px;

    dl {
        dt {
            font-size: 1.2rem;
            margin-bottom: .7rem;
            font-weight: 600;
        }

        dd {
            font-size: .88rem;
        }
    }
}

.read__single {
    text-align: center;

    a {
        display: inline-block;
        background-color: $gray;
        color: #fff;
        text-align: center;
        width: 72%;
        max-width: 188px;
        height: 54px;
        line-height: 54px;
        font-family: $gosic;
    }
}

/*

記事ペーじスタイル

*/

body.single {
    color: #454545;
}

body.archive {
    color: #454545;
}

.page-head.single {
    h1 {
        text-align: center;
        font-size: 2.4rem;
        color: $gray;
    }
}

.singe__case {
    font-family: $gosic;

    .inner {
        width: 94%;
        max-width: 700px;

        h1 {
            font-size: 1.8rem;
            color: #686868;
            margin-bottom: 1.8rem;
            padding-bottom: 16px;
            border-bottom: 1px solid #ededed;
            line-height: 0.9;
            letter-spacing: 0.075em;
        }
    }
}
