
//紫背景、紫文字
$cp: #a64987;

//テキストカラー薄い黒
$text-color: #686868;

//テキストカラー金色,金色背景
$cg: #9d8440;

//カラーブルー
$cb: #1d4a6f;

//薄い金色背景
$bg-g: #f0ede3;

//よくある質問コーナーBG
$bg-q: #f1f8ff;

//見出しキャチなどの文字カラー金色
$cachccollor: #8b7770;

//BG 透明しろ

$bg-w : rgba(255,255,255,.79);

//BG 透明紫
$bg-p: rgba(166,73,135,.65);

//PCインナーWIDTH

$w: 1160px;

//SPインナーWIDTH
$sw: 92%;

//サイドバーWIDTH
$sidew: 330px;

//RIGHTコンテンツ
$rcont: 800px;

//下層ページ薄いピンク背景
$cp2: #fff7f4;

//フォントゴシック
$gosic: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";

//表見出し
$tableth: #7da7e1;

//表１列目見出し
$tablethcole1: #e5ecf6;

//表１列目文字見出し
$tablethcole1-cr: #5080be;